{% extends "home/layout.html" %}
{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Bienvenue sur <b>Spam</b>Web !
                <small>v1.3</small>
            </h1>

            <p>Ici, vous pouvez faire pleiiiin de choses ! <em class="text-muted">(Bon pas tout de suite par contre
                ...)</em></p>

            <h3>Les fonctionnalités actuelles sont : </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2><i class="fa fa-globe"></i> Général</h2>
            <ul>
                <li>Voir les prochains évènements dans le panel de droite (cliquez en haut a droite sur <i
                        class="fa fa-gears"></i>) [Fake :c]
                </li>
                <li>Vous connecter via votre adresse e-mail, pour garder son pseudo stylé même s'il est compliqué !</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h2><i class="fa fa-bell-o"></i> Notifications</h2>
            <ul>
                <li>Vous pouvez voir ce qui se passe sur le Spam ! (Et voir qui a voté rouge à votre idée Grrrrr ...
                    !)
                </li>
                <li>Les notifications sont disponibles sur toutes les pages !</li>
                <li>Le design a été modifié, on peut voir tout le contenu et leur date, mais seulement les 20 dernières
                    sont affichées
                </li>
                <li>Les notifications se mettent a jour sans avoir à changer de page !</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h2><i class="fa fa-user"></i> Profil</h2>
            <ul>
                <li>Remplir quelques information sur votre profil !</li>
                <li>Changer votre image de profil ! Comme ça vous pouvez nous montrer si vous êtes moches :D !</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2><i class="fa fa-lightbulb-o"></i> Idées
                <small>By Loïc</small>
            </h2>
            <ul>
                <li>Partager de nouvelles idées !</li>
                <li>Commenter et débattre autour des idées proposées !</li>
                <li>Voter pour vos idées préférées !</li>
                <li>Cliquer sur un titre pour ouvrir et fermer une idée ! Le plus et trop petit pour nos gros doigts sur
                    téléphone... :x
                </li>
                <li>Nouveau design ! On peut voir le détail des idées lorsqu'on a un ecran assez grand ! (pas pour les
                    pauvres, ni les téléphones)
                </li>
                <li>Trier les idées selon différents critères ! Et c'est joli en plus ça bouge tout seul !</li>
                <li>Valider une idée. Lorsqu'une idée est considérée comme terminée, accomplie, son auteur peut décider de la validée.
                </li>
                <li>Trier les idées selon leur état : validées ou en cours.
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <h2><i class="fa fa-youtube"></i> Spamusic
                <small>By Loïc</small>
            </h2>
            <ul>
                <li>Créer des nouvelles playlist pour le Spam !</li>
                <li>&Eacute;couter les playlists collaboratives du Spam !</li>
                <li>Voir les details, et la liste des vidéos d'une playlist !</li>
                <li>Rechercher des vidéos et les ajouter aux playlist !</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h2><i class="fa fa-bar-chart"></i> SpamConso
                <small>By Alexis</small>
            </h2>
            <ul>
                <li>Enregistrer vos consommations, Tacos ou Bières, sur SpamConso !
                </li>
                <li>Affecter des tags existants ou créez en de nouveaux à votre conso (Chouffe forever) !
                </li>
                <li>Obtenir des graphiques sur la consommation des consommations consommées par le Spam ! (Quoi !? C'est
                    mal écrit ?)
                </li>
                <li>Filter les graphiques pour plus de détails selon les tags que vous avez mis sur vos conso !
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <h2><i class="fa fa-comments-o"></i> SpamAlyzer
                <small>By David</small>
            </h2>
            <ul>
                <li>Déposer vos archives <i
                        class="fa fa-facebook text-primary"></i>acebook afin de faire analyser la discussion !
                </li>
                <li>Relire encore et encore la conversation directement depuis le site.
                </li>
                <li>Voir des statistiques sur la conversation, pour tout le groupe et par personne !
                </li>
                <li>Voir qui a contribué au dépôt des archives.
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="text-success"><span class="label bg-green">New</span> <i class="fa fa-comments-o"></i> SpamCompte
                <small>By Hugo</small>
            </h2>
            <ul>
                <li class="text-success"><span class="label bg-green">New</span> <span class="bg-success">Ajouter vos SpamComptes (un tricount en plus meilleur) et choisir les participants parmis les Spammeurs</span>
                </li>
                <li class="text-success"><span class="label bg-green">New</span> <span class="bg-success">Ajouter des dépenses : plusieurs personnes peuvent payer pour une dépense et une personne peut contribuer moins qu'une autre </span>
                </li>
                <li class="text-success"><span class="label bg-green">New</span> <span class="bg-success">Voir la synthèse du SpamCompte sous forme de graphique + équilibrage</span>
                </li>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
