{% extends "LTE/starter.html" %}
{% load staticfiles %}

<!-- page head title -->
{% block base_title %}SpamWeb{% endblock %}

<!-- url of the home page -->
{% block base_index_url %}{% url 'home:index' %}{% endblock %}

 <!-- mini logo for sidebar mini 50x50 pixels -->
{% block base_mini_logo %}<b>S</b>W{% endblock %}

<!-- logo for regular state and mobile devices -->
{% block base_logo %}<b>Spam</b>Web{% endblock %}

<!-- top right dropdowns navigation -->
{% block base_top_navbar %}
{% endblock %}

<!-- top right dropdown for user profile -->
{% block base_top_navbar_user %}
    <!-- User Account Menu -->
    <li class="dropdown user user-menu">
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <!-- The user image in the navbar-->
      <img src="{% static 'LTE/dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image"/>
      <!-- hidden-xs hides the username on small devices so only the image appears. -->
      <span class="hidden-xs">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span>
    </a>
    <ul class="dropdown-menu">
      <!-- The user image in the menu -->
      <li class="user-header">
        <img src="{% static 'LTE/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image" />
        <p>
          {{ user.first_name|capfirst }} {{ user.last_name|capfirst }} - {{ user.username }}
          <small>SpamMembre depuis le {{ user.date_joined|date:"d F Y" }}</small>
        </p>
      </li>
      <!-- Menu Footer-->
      <li class="user-footer">
        <div class="pull-left">
          <a href="{% url 'userManager:profile_edit' %}" class="btn btn-default btn-flat">Profil</a>
        </div>
        <div class="pull-right">
          <a href="{% url 'userManager:deconnexion' %}" class="btn btn-default btn-flat">Se déconnecter</a>
        </div>
      </li>
    </ul>
  </li>
{% endblock %}

<!-- top right in navbar toggle to display controls & settings -->
{% block base_top_navbar_control_button %}
    <!-- Control Sidebar Toggle Button -->
    <li>
        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
    </li>
{% endblock %}

<!--
----    LEFT SIDEBAR
---->
<!-- Left Sidebar user panel  -->
{% block base_left_sidebar_user_panel %}
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{% static 'LTE/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</p>
            <!-- Status -->
            <a href="#"><i class="fa fa-circle text-success"></i> En Ligne</a>
        </div>
    </div>
{% endblock %}

<!-- Left Sidebar Search Form-->
{% block base_left_sidebar_search_form %}
{% endblock %}

<!-- Left Sidebar Menu -->
{% block base_left_sidebar_menu %}
  <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    <li class="header">MENU PRINCIPAL</li>
    <!-- Optionally, you can add icons to the links -->
    <li><a href="{% url 'jacquesIdea:index' %}"><i class="fa fa-lightbulb-o"></i> <span>Idées</span></a></li>
    <li><a href="#"><i class='fa fa-calendar'></i> <span>Calendrier</span></a></li>
    <li><a href="#"><i class='fa fa-euro'></i> <span>Comptes</span></a></li>
    <li class="treeview">
      <a href="#"><i class='fa fa-bar-chart'></i> <span>Statistiques</span> <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu">
        <li><a href="#"><i class='fa fa-beer'></i> Bières</a></li>
        <li><a href="#"><i class='fa fa-cutlery'></i> Tacos</a></li>
        <li><a href="#"><i class='fa fa-thumbs-o-up'></i> Pouces</a></li>
      </ul>
    </li>
    <li><a href="#"><i class='fa fa-book'></i> <span>Répertoire</span></a></li>
  </ul><!-- /.sidebar-menu -->
{% endblock %}

<!--
----    PAGE CONTENT HEADER
---->
<!-- Page content header title -->
{% block base_content_header_title %}Acceuil | <b>Spam</b>Web{% endblock %}

<!-- Page content header optional description -->
{% block base_content_header_title_description %}Y'a plein de choses ici !{% endblock %}

<!-- Page content breadcrumb (fil d'arianne) -->
{% block base_content_header_breadcrumb %}
    <li><a href="#"><i class="fa fa-dashboard"></i> <b>Spam</b>Web</a></li>
    <li class="active">Home</li>
{% endblock %}

<!--
----    RIGHT SIDEBAR
---->
<!-- Right sidebar Contents of tabs -->
{% block base_right_sidebar_contents %}
    <!-- Home tab content -->
    <div class="tab-pane active" id="control-sidebar-home-tab">
    <h3 class="control-sidebar-heading">&#199;a arrive bient&ocirc;t !</h3>
    <ul class='control-sidebar-menu'>
      <li>
         <a href='javascript::;'>
          <i class="menu-icon fa fa-sun-o bg-orange"></i>
          <div class="menu-info">
            <h4 class="control-sidebar-subheading">K-Fet : Post partiels</h4>
            <p>Le 20 Juin</p>
          </div>
        </a>
        <a href='javascript::;'>
          <i class="menu-icon fa fa-birthday-cake bg-red"></i>
          <div class="menu-info">
            <h4 class="control-sidebar-subheading">Anniversaire : Alexis Andra</h4>
            <p>Le 22 Juin</p>
          </div>
        </a>
      </li>
    </ul><!-- /.control-sidebar-menu -->

    <h3 class="control-sidebar-heading">Avancement des projets</h3>
    <ul class='control-sidebar-menu'>
      <li>
        <a href='javascript::;'>
          <h4 class="control-sidebar-subheading">
            TP DASI
            <span class="label label-success pull-right">100%</span>
          </h4>
          <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-success" style="width: 100%"></div>
          </div>
        </a>
      </li>
      <li>
        <a href='javascript::;'>
          <h4 class="control-sidebar-subheading">
            Site SpamWeb
            <span class="label label-warning pull-right">20%</span>
          </h4>
          <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-aqua" style="width: 20%"></div>
          </div>
        </a>
      </li>
    </ul><!-- /.control-sidebar-menu -->

    </div><!-- /.tab-pane -->
    <!-- Stats tab content -->
    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
    <!-- Settings tab content -->
    <div class="tab-pane" id="control-sidebar-settings-tab">
    <form method="post">
      <h3 class="control-sidebar-heading">Réglages Généraux</h3>
      <div class="form-group">
        <label class="control-sidebar-subheading">
          Activer les notifications
          <input type="checkbox" class="pull-right" checked />
        </label>
        <p>
          Pour recevoir des notifications et rappels par mail sur les évènements et activités du <b>Spam</b>
        </p>
      </div><!-- /.form-group -->
    </form>
    </div><!-- /.tab-pane -->
{% endblock %}


<!--
----    PAGE CONTENT BODY
---->
<!-- Page content - body -->
{% block body %}{% endblock %}