{% extends "LTE/base.html" %}
{% load staticfiles %}

<!-- page head title -->
{% block base_title %}Home | {{ block.super }}{% endblock %}


<!-- Left Sidebar Menu -->
{% block base_left_sidebar_menu %}
    {% include "LTE/menu.html" with active="home" only %}
{% endblock %}


<!--
----    PAGE CONTENT HEADER
---->
<!-- Page content header title -->
{% block base_content_header_title %}Acceuil | {{ block.super }}{% endblock %}

<!-- Page content header optional description -->
{% block base_content_header_title_description %}Y'a plein de choses ici !{% endblock %}

<!-- Page content breadcrumb (fil d'arianne) -->
{% block base_content_header_breadcrumb %}
    {% include 'LTE/breadcrumb.html' with current='Home' only %}
{% endblock %}


<!--
----    PAGE CONTENT BODY
---->
<!-- Page content - body -->
{% block body %}{% endblock %}