{% for log in logs %}
    <li class="notification {% if log.date >= unseenlog.date %}notification-new{% endif %}">
        <a href="#">
            {% if log.app == "jacquesIdea" %}
                <i class="fa fa-lightbulb-o text-yellow"></i>
            {% elif log.app ==  "spamusic" %}
                <i class="fa fa-youtube text-red"></i>
            {% elif log.app == "userManager" %}
                <i class="fa fa-user text-blue"></i>
            {% elif log.app == "spamConso" %}
                {% if log.log_type == "spamConso_add_conso_beer" %}
                    <i class="fa fa-beer text-aqua"></i>
                {% elif log.log_type == "spamConso_add_conso_tacos"%}
                    <i class="fa fa-cutlery text-aqua"></i>
                    {% else %}
                    BITE {{ log.log_type }}
                {% endif %}
            {% endif %}
            <p class="no-margin notification-text">
                {{ log.text }}
                <span class="notification-date">{{ log.date|date:"\l\e j/n à G\hi" }}</span>
            </p>
        </a>
    </li>
{% endfor %}
