{% extends "SpamAlyzer/layout.html" %}
{% load staticfiles %}

<!-- page head title -->
{% block base_title %}{{ block.super }}{% endblock %}

<!-- Page content header title -->
{% block base_content_header_title %}{{ block.super }}{% endblock %}

<!-- Page content header optional description -->
{% block base_content_header_title_description %}{{ block.super }}{% endblock %}

<!-- Left Sidebar Menu -->
{% block base_left_sidebar_menu %}
    {% include "LTE/menu.html" with active=stats_type_for_menu only %}
{% endblock %}

<!-- Page content breadcrumb (fil d'arianne) -->
<!-- le breadcrumb peut aller jusqu'a une profondeur de 4 (previous4) -->
{% block base_content_header_breadcrumb %}
    {% include 'LTE/breadcrumb.html' with current='SpamAlyzer' only %}
{% endblock %}

{% block page_header_addons %}
    <link rel="stylesheet" type="text/css" href="{% static 'SpamAlyzer/css/index.css' %}">
    {% if not error_message %}
        <script src="{% static "LTE/plugins/chartjs/Chart.js" %}"></script>
        <script type="application/javascript">
        function generateGraphs() {
            var x1 = [
                {% for value in graphe_most_used_words %}
                    "{{ value.xaxis }}" ,
                {% endfor %}
            ];
            var y1 = [
                {% for value in graphe_most_used_words %}
                    "{{ value.yaxis }}" ,
                {% endfor %}
            ];
            generateGraph(x1, y1, "mostUsedWords", "Bar", "Green");

            var x2 = [
                 {% for key in graphe_nb_msg_per_date %}
                     "{{ key }}" ,
                 {% endfor %}
            ];
            var y2 = [
                 {% for value in graphe_nb_msg_per_date.values %}
                     "{{ value }}" ,
                 {% endfor %}
            ];
            generateGraph(x2, y2, "mostUsedWordsByPeriod", "Line", "Red");

            {% if graphe_user_most_msg %}
                var x3 = [
                   {% for value in graphe_user_most_msg %}
                        "{{ value.xaxis }}" ,
                   {% endfor %}
                ];
                var y3 = [
                    {% for value in graphe_user_most_msg %}
                        "{{ value.yaxis }}" ,
                    {% endfor %}
                ];
                generateGraph(x3, y3, "mostUsedWordsByUsers", "Bar","Blue");
            {% endif %}
        }

        function generateGraph(x, y, elementId, type, color) {
            var highlightFill;
            if (color === "Red") {
                highlightFill = "#d33";
            } else if (color === "Green") {
                highlightFill = "#3d3";
            } else if (color === "Blue") {
                highlightFill = "#33d";
            } else {
                highlightFill = "#ddd";
            }

            var grapheContext = document.getElementById(elementId).getContext("2d");

            var grapheData;
            if (type === "Line"){
                 grapheData = {
                    labels: x,
                    datasets: [
                        {
                            label: "Mots les plus utilisés dans le spam",
                            fillColor: "rgba(50,50,50,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            pointColor: "rgba(120,120,120,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: highlightFill,
                            pointHighlightStroke: "#000",
                            data: y
                        }
                    ]
                };
                new Chart(grapheContext).Line(grapheData);
            } else if (type === "Bar") {
                grapheData = {
                    labels: x,
                    datasets: [
                        {
                            label: "Mots les plus utilisés dans le spam",
                            fillColor: "rgba(50,50,50,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: highlightFill,
                            highlightStroke: "#000",
                            data: y
                        }
                    ]
                };
                new Chart(grapheContext).Bar(grapheData);
            }
        }
        </script>
    {% endif %}
{% endblock %}

{% block page_footer_addons %}
{% endblock %}

{% block body %}
    <p class="well">Les statistiques de {{ cest_pour_qui }} !</p>

    {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% else %}
        <div class="counter-messages">{{ nb_messages }}</div>
        <div class="counter-pouces">{{ nb_pouces }}</div>
        <canvas id="mostUsedWords" width="400" height="400"></canvas>
        {% if graphe_user_most_msg %}
            <canvas id="mostUsedWordsByUsers" width="400" height="400"></canvas>
        {% endif %}
        <canvas id="mostUsedWordsByPeriod" width="400" height="400"></canvas>

        <script type="application/javascript">
            generateGraphs();
        </script>
    {% endif %}
{% endblock %}
