  <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    <li class="header">MENU PRINCIPAL</li>
    <!-- Optionally, you can add icons to the links -->
    <li {% ifequal active "jacquesIdea" %}class="active" {% endifequal %}><a href="{% url 'jacquesIdea:index' %}"><i class="fa fa-lightbulb-o"></i> <span>Idées</span></a></li>
    <li {% ifequal active "calendrier" %}class="active" {% endifequal %}><a href="#"><i class='fa fa-calendar'></i> <span>Calendrier</span></a></li>
    <li {% ifequal active "comptes" %}class="active" {% endifequal %}><a href="#"><i class='fa fa-euro'></i> <span>Comptes</span></a></li>
    <li class="treeview">
      <a href="#"><i class='fa fa-bar-chart'></i> <span>Statistiques</span> <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu">
        <li {% ifequal active "biere" %}class="active" {% endifequal %}><a href="#"><i class='fa fa-beer'></i> Bières</a></li>
        <li {% ifequal active "tacos" %}class="active" {% endifequal %}><a href="#"><i class='fa fa-cutlery'></i> Tacos</a></li>
        <li {% ifequal active "pouces" %}class="active" {% endifequal %}><a href="#"><i class='fa fa-thumbs-o-up'></i> Pouces</a></li>
      </ul>
    </li>
    <li {% ifequal active "repertoire" %}class="active" {% endifequal %}><a href="#"><i class='fa fa-book'></i> <span>Répertoire</span></a></li>
    <li {% ifequal active "spamusic" %}class="active" {% endifequal %}><a href="{% url 'spamusic:index' %}"><i class='fa fa-youtube'></i> <span>Spamusic</span><!--<a class="pull-right" target="_blank" href="{% url 'spamusic:index' %}"><i class="fa fa-external-link"></i></a>--></a></li>
    <li class="treeview {% if "SpamAlyzer" in active %}active{% endif %}">
      <a href="#">
          <i class='fa fa-comments-o'></i> <span>SpamAlyzer</span> <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li {% ifequal active "SpamAlyzer/depot" %}class="active" {% endifequal %}><a href="{% url 'SpamAlyzer:index' %}"><i class='fa fa-file-archive-o'></i> Dépôt d'archive</a></li>
        <li {% ifequal active "SpamAlyzer/conversation" %}class="active" {% endifequal %}><a href="{% url 'SpamAlyzer:conversation' 1 %}"><i class='fa fa-comments'></i> LA conversation</a></li>
        <li {% ifequal active "SpamAlyzer/statsG" %}class="active" {% endifequal %}><a href="{% url 'SpamAlyzer:statsGlobales' %}"><i class='fa fa-line-chart'></i> Stats globales</a></li>
        <li {% ifequal active "SpamAlyzer/statsU" %}class="active" {% endifequal %}><a href="{% url 'SpamAlyzer:statsSpammeurs' %}"><i class='fa fa-bar-chart'></i> Stats des spammeurs</a></li>
        <li {% ifequal active "SpamAlyzer/histoDepot" %}class="active" {% endifequal %}><a href="{% url 'SpamAlyzer:histoDepot' %}"><i class='fa fa-archive'></i> Historiques de dépôts</a></li>
      </ul>
    </li>
  </ul><!-- /.sidebar-menu -->
