  <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    <li class="header">MENU PRINCIPAL</li>
    <!-- Optionally, you can add icons to the links -->
    <li {% ifequal active "jacquesIdea" %}class="active" {% endifequal %}><a href="{% url 'jacquesIdea:index' %}"><i class="fa fa-lightbulb-o"></i> <span>Idées</span></a></li>
    <li {% ifequal active "calendrier" %}class="active" {% endifequal %}><a href="#"><i class='fa fa-calendar'></i> <span>Calendrier</span></a></li>
    <li {% ifequal active "comptes" %}class="active" {% endifequal %}><a href="#"><i class='fa fa-euro'></i> <span>Comptes</span></a></li>
    <li class="treeview {% if "spamConso" in active %}active{% endif %}">
      <a href="#">
          <i class='fa fa-bar-chart'></i> <span>SpamConso</span> <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li {% ifequal active "spamConso/index" %}class="active" {% endifequal %}><a href="{% url 'spamConso:index' %}"><i class='fa fa-plus'></i> Ajouter </a></li>
        <li {% ifequal active "spamConso/bieres" %}class="active" {% endifequal %}><a href="{% url 'spamConso:conso_view' %}?type=biere"><i class='fa fa-beer'></i> Bières</a></li>
        <li {% ifequal active "spamConso/tacos" %}class="active" {% endifequal %}><a href="{% url 'spamConso:conso_view' %}?type=tacos"><i class='fa fa-cutlery'></i> Tacos</a></li>
        <li {% ifequal active "spamConso/pouces" %}class="active" {% endifequal %}><a href="{% url 'spamConso:index' %}"><i class='fa fa-thumbs-o-up'></i> Pouces</a></li>
      </ul>
    </li>
    <li {% ifequal active "repertoire" %}class="active" {% endifequal %}><a href="#"><i class='fa fa-book'></i> <span>Répertoire</span></a></li>
    <li {% ifequal active "spamusic" %}class="active" {% endifequal %}><a href="{% url 'spamusic:index' %}"><i class='fa fa-youtube'></i> <span>Spamusic</span><!--<a class="pull-right" target="_blank" href="{% url 'spamusic:index' %}"><i class="fa fa-external-link"></i></a>--></a></li>
  </ul><!-- /.sidebar-menu -->