{% extends "jacquesIdea/layout.html" %}
{% load staticfiles %}
{% load jacquesIdea_extras %}

{% block body %}
    <div class="row">
    {%  for idee in idee_list %}
        {% if forloop.counter0|divisibleby:3 %}
        {% endif %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Construct the box with style you want. Here we are using box-danger -->
                <!-- Then add the class direct-chat and choose the direct-chat-* contexual class -->
                <!-- The contextual class should match the box, so we are using direct-chat-danger -->
                <div class="box box-solid box-info direct-chat direct-chat-info ">
                  <div class="box-header with-border idee-header">
                    <h3 class="box-title">{{ idee.titre }}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool {% if idee|is_upvoted_by:user %}bg-green{% endif %}" data-toggle="tooltip" title="Pouce"><i class="fa fa-thumbs-o-up"></i><span class="badge bg-green-active">{{ idee.get_upvotes|length }}</span></button>
                        <button class="btn btn-box-tool {% if idee|is_downvoted_by:user %}bg-red{% endif %}" data-toggle="tooltip" title="Pas&nbsp;Pouce"><i class="fa fa-thumbs-o-down"></i><span class="badge bg-red-active">{{ idee.get_downvotes|length }}</span></button>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <!-- Conversations are loaded here -->

                  <!-- SUJET DE L'IDEE -->
                    <div class="direct-chat-messages" id="messages-container-{{ idee.id }}">
                      {% ifequal user idee.auteur %}
                          <!-- Message to the right -->
                          <div class="direct-chat-msg right">
                            <div class='direct-chat-info clearfix'>
                              <span class='direct-chat-name pull-right'>{{ idee.auteur.first_name|capfirst }} {{ idee.auteur.last_name|capfirst }} - {{ idee.auteur.username }}</span>
                              <span class='direct-chat-timestamp pull-left'>le {{ idee.pub_date|date:"d F Y" }} à {{ idee.pub_date|date:"G" }}h{{ idee.pub_date|date:"i" }}</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="{% static 'LTE/dist/img/user3-128x128.jpg' %}" alt="message user image" /><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                              {{ idee.idee_text }}
                            </div><!-- /.direct-chat-text -->
                          </div><!-- /.direct-chat-msg -->
                      {% else %}
                          <!-- Message. Default to the left -->
                          <div class="direct-chat-msg">
                            <div class='direct-chat-info clearfix'>
                              <span class='direct-chat-name pull-left'>{{ idee.auteur.first_name|capfirst }} {{ idee.auteur.last_name|capfirst }} - {{ idee.auteur.username }}</span>
                              <span class='direct-chat-timestamp pull-right'>le {{ idee.pub_date|date:"d F Y" }} à {{ idee.pub_date|date:"G" }}h{{ idee.pub_date|date:"i" }}</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="{% static 'LTE/dist/img/user1-128x128.jpg' %}" alt="message user image" /><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                              {{ idee.idee_text }}
                            </div><!-- /.direct-chat-text -->
                          </div><!-- /.direct-chat-msg -->
                      {% endifequal %}

                     <!-- COMMENTAIRES DE L'IDEE -->
                    {% for commentaire in idee.commentaire_set.all %}
                      {% ifequal user commentaire.auteur %}
                          <!-- Message to the right -->
                          <div class="direct-chat-msg right">
                            <div class='direct-chat-info clearfix'>
                              <span class='direct-chat-name pull-right'>{{ commentaire.auteur.first_name|capfirst }} {{ commentaire.auteur.last_name|capfirst }} - {{ commentaire.auteur.username }}</span>
                              <span class='direct-chat-timestamp pull-left'>le {{ commentaire.pub_date|date:"d F Y" }} à {{ commentaire.pub_date|date:"G" }}h{{ commentaire.pub_date|date:"i" }}</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="{% static 'LTE/dist/img/user3-128x128.jpg' %}" alt="message user image" /><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                              {{ commentaire.commentaire_text }}
                            </div><!-- /.direct-chat-text -->
                          </div><!-- /.direct-chat-msg -->
                      {% else %}
                          <!-- Message. Default to the left -->
                          <div class="direct-chat-msg">
                            <div class='direct-chat-info clearfix'>
                              <span class='direct-chat-name pull-left'>{{ commentaire.auteur.first_name|capfirst }} {{ commentaire.auteur.last_name|capfirst }} - {{ commentaire.auteur.username }}</span>
                              <span class='direct-chat-timestamp pull-right'>le {{ commentaire.pub_date|date:"d F Y" }} à {{ commentaire.pub_date|date:"G" }}h{{ commentaire.pub_date|date:"i" }}</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="{% static 'LTE/dist/img/user1-128x128.jpg' %}" alt="message user image" /><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                              {{ commentaire.commentaire_text }}
                            </div><!-- /.direct-chat-text -->
                          </div><!-- /.direct-chat-msg -->
                      {% endifequal %}
                    {% endfor %}
                    </div><!--/.direct-chat-messages-->
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <div class="input-group">
                      <input id="message-text-{{ idee.id }}" onKeyPress="if (event.keyCode == 13) sendIdeaComment({{ idee.id }})" type="text" name="message" placeholder="Répondez a cette idée !" class="form-control"/>
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat button-comment-submit" data-idee="{{ idee.id }}">Commenter</button>
                      </span>
                    </div>
                  </div><!-- /.box-footer-->
                </div><!--/.direct-chat -->
            </div>
        {% if forloop.counter0|divisibleby:3 == 2 or forloop.last%}
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}

{% block base_additional_scripts %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function sendIdeaComment(idee){
            var msg = $("#message-text-"+idee).val().trim();
            if(msg.length > 0)
            {
                var params = {
                    idee_id: idee,
                    com: msg
                };

                var paramsEncoded = $.param(params);
                $.ajax({
                    method: "POST",
                    url: "{% url 'ajax:jacquesIdeaEnregistrerCommentaire' %}",
                    data: paramsEncoded,
                    dataType : 'html',
                    cache: false,
                    success: function(html, statut){
                        $(html).appendTo('#messages-container-'+idee);
                        //$('#messages-container-'+idee).slimscroll({start: 'bottom'});
                        $("#message-text-"+idee).val("");
                    },
                    error : function(resultat, statut, erreur){
                        alert("Désolé ! Une erreur serveur est survenue, veuillez réessayer.");
                    }
                });
            }
        }

        $(".button-comment-submit").click(function(){
            var idee =$(this).attr("data-idee");
           sendIdeaComment(idee);
        });

        $(function(){
            //$('.direct-chat-messages').slimscroll({start: $(this).find('.direct-chat-msg').last()});
            $('.direct-chat-messages').slimscroll({start: 'bottom'});
        });
    </script>
{% endblock %}