{% extends "LTE/base.html" %}
{% load staticfiles %}


<!-- page head title -->
{% block base_title %}Idées | {{ block.super }}{% endblock %}

<!-- here add you own stylesheet -->
{% block base_additional_stylesheet %}
        <link href="{% static 'jacquesIdea/css/jacquesIdea.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

<!-- top right in navbar toggle to display controls & settings -->
{% block base_top_navbar_control_button %}
    <!-- Control Sidebar Toggle Button -->
    <li>
        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
    </li>
{% endblock %}

<!--
----    LEFT SIDEBAR
---->

<!-- Left Sidebar Menu -->
{% block base_left_sidebar_menu %}
    {% include "LTE/menu.html" with active="jacquesIdea" only %}
{% endblock %}


<!-- here add you own stylesheet and scripts in header -->
{% block base_header_addons %}
    <!-- Here : addons for the layout, in the whole App -->
    {% block page_header_addons %}
    {% endblock %}
{% endblock %}

<!-- here add you own stylesheet and scripts in footer-->
{% block base_footer_addons %}
    <!-- Here : addons for the layout, in the whole App-->
    {% block page_footer_addons %}
    {% endblock %}
{% endblock %}

<!--
----    PAGE CONTENT HEADER
---->
<!-- Page content header title -->
{% block base_content_header_title %}Jacques a dit : <b>Idea !</b> | <b>Spam</b>Web{% endblock %}

<!-- Page content header optional description -->
{% block base_content_header_title_description %}La boite à idées.{% endblock %}

<!-- Page content breadcrumb (fil d'arianne) -->
{% block base_content_header_breadcrumb %}
    {% include 'LTE/breadcrumb.html' with current='Idées' only %}
{% endblock %}

<!--
----    RIGHT SIDEBAR
---->

<!--
----    PAGE CONTENT BODY
---->
<!-- Page content - body -->
{% block body %}{% endblock %}