{% extends "SpamCompte/layout.html" %}
{% load staticfiles %}

<!-- Page content breadcrumb (fil d'arianne) -->
<!-- le breadcrumb peut aller jusqu'a une profondeur de 4 (previous4) -->
{% block base_content_header_breadcrumb %}
    {# prev1Name='comptes' prev1Url='spamCompte:index' #}
    {% include 'LTE/breadcrumb.html' with current='comptes' only %}
{% endblock %}

{% block page_header_addons %}
{% endblock %}

{% block page_footer_addons %}
{% endblock %}

{% block body %}
    <h1>Vos comptes :</h1>
    Vous devez tant à machin : <a href=""><b>SpamCompte témoin1</b></a>,<br> truc vous dois tant : .. <a href=""><b>SpamCompte témoin2</b></a><br>
    <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Ajouter un <i>SpamCompte</i> via le bouton ci-dessous :</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-flat btn-danger" href="{% url 'spamCompte:ajout_battle' %}" style="display: block;">
                    <i class="fa fa-plus"></i>
                    Ajouter un <i>SpamCompte</i> !
                </a>
            </div>
        </div>
    </div>

    <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Vos <i>SpamCompte</i> existants :</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            {% for compte in mes_comptes %}
            <a href="{% url 'spamCompte:consulter_battle' compte.id %}">{{ compte.nom }}</a><br>
            {% endfor %}
        </div>
    </div>

{% endblock %}
