.error {
    margin-top: 20px;
    font-weight: bold;
}


.auteur {
    color: #3B5998;
    font-weight: bold;
}

.date {
    color: #BDC1C9;
}

img.pouce {
    max-width : 100px;
}

.message:hover{
    background-color : #FFFFFF;
}

.choix_page a{
    display: block;
}

.choix_page a:hover{
    background-color: #ffffff;
    color : #7a090d;
}