.idee-header.box-header h3
{
    text-align: justify;
}

.box-header > .box-tools
{
    right: 10px;
    top: 5px;
    position: initial;
}

.box-header .box-title
{
    display : block;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.idee-header .box-title
{
    cursor : pointer;
}

.vote-up.voted
{
    background-color: #00a65a !important;
}

.vote-down.voted
{
    background-color: #dd4b39 !important;
}

.modal-content
{
    word-wrap : break-word;
}