{% extends "LTE/login.html" %}
{% load staticfiles %}

<!--
----    HEAD
---->
<!-- page head title -->
{% block login_title %}Changement de mot de passe | SpamWeb{% endblock %}

<!-- here add you own stylesheet -->
{% block login_additional_stylesheet %}{% endblock %}

<!-- here add you own scripts -->
{% block login_additional_scripts %}{% endblock %}

<!--
----    LOGIN BLOCK
---->
<!-- logo or text above the block -->
{%  block login_logo %}
    <a href="{% url 'home:index' %}"><b>Spam</b>Web</a>
{% endblock %}

<!-- text above the form -->
{% block login_box_msg %}
    <p class="login-box-msg">{{ title }}</p>
    {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> Aïe Aïe Aïe !</h4>
            Alors on est nul(le) ? Allez quoi tu sais remplir un formulaire non ?! :D
        </div>
    {% endif %}
{%  endblock %}

<!-- the url which shall receive the form -->
{% block login_form_action %}{% url 'userManager:password_change' %}{% endblock %}

<!-- fields inside the form -->
{% block login_form_fields %}
    <div class="form-group has-feedback {% if form.old_password.errors %}has-error{% endif %}">
        {{ form.old_password.label_tag }} {{ form.old_password }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        {% for error in form.old_password.errors %}
        <p class="text-red">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="form-group has-feedback {% if form.new_password1.errors %}has-error{% endif %}">
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        {% for error in form.new_password1.errors %}
        <p class="text-red">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="form-group has-feedback {% if form.new_password2.errors %}has-error{% endif %}">
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        {% for error in form.new_password2.errors %}
        <p class="text-red">{{ error }}</p>
        {% endfor %}
    </div>
    {% csrf_token %}
{% endblock %}

<!-- remember me checkbox (same row as submit, check the 12cols rules)-->
{%  block login_form_remember_me %}
    <div class="col-xs-5">
      <!--
      <div class="checkbox icheck">
        <label>
          <input type="checkbox"> Remember Me
        </label>
      </div>
      -->
    </div><!-- /.col -->
{% endblock %}

<!-- submit button from login form -->
{% block login_form_submit %}
    <div class="col-xs-7">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Changer le mot de passe</button>
    </div><!-- /.col -->
{% endblock %}

<!-- links for social authentification -->
{% block login_social_auth %}
    <!--
<div class="social-auth-links text-center">
  <p>- OR -</p>
  <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
  <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
</div><!-- /.social-auth-links -->
{% endblock %}

<!-- links for forgotten password -->
{% block login_password_forgotten_link %}
    <a href="#">J'ai oublié mon mot de passe ...</a><br>
{% endblock %}

<!-- links for registering -->
{% block login_register_link %}
<!-- <a href="register.html" class="text-center">S'enregistrer sur SpamWeb !</a> -->
{% endblock %}
