{% extends "userManager/layout.html" %}

<!-- Page content header title -->
{% block base_content_header_title %}Ton profil | {{ block.super }}{% endblock %}

<!-- Page content header optional description -->
{% block base_content_header_title_description %}SpamMembre de qualitay !{% endblock %}

{% block body %}
    <div class="box box-sucess">
        <div class="box-header with-border">
          <h3 class="box-title">Edition de ton profil</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <form action="{% url 'userManager:profile_edit' %}" method="post" enctype="multipart/form-data">
            <!-- text input -->
            <div class="form-group {% if form.telephone.errors %}has-error{% endif %}">
                {{ form.telephone.label_tag }} {{ form.telephone }}
                {% for error in form.telephone.errors %}
                <p class="text-red">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-group  {% if form.date_de_naissance.errors %}has-error{% endif %}">
                {{ form.date_de_naissance.label_tag }} {{ form.date_de_naissance }}
                {% for error in form.date_de_naissance.errors %}
                <p class="text-red">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-group  {% if form.avatar.errors %}has-error{% endif %}">
                {{ form.avatar.label_tag }} {{ form.avatar }}
                {% for error in form.avatar.errors %}
                <p class="text-red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Mettre à jour mon profil !</button>
            </div><!-- /.col -->
            {% csrf_token %}
            <div class="col-sm-4 col-sm-offset-4">
               {% if user.userprofile.avatar %} <img src="{{ user.userprofile.avatar.url }}"/>{% else %}default.jpg{% endif %}
            </div>

          </form>
        </div><!-- /.box-body -->
    </div>
{% endblock %}