{% extends "spamConso/layout.html" %}
{% load staticfiles %}

<!-- page head title -->
{% block base_title %}Ma Page | {{ block.super }}{% endblock %}

<!-- Page content header title -->
{% block base_content_header_title %}Titre de ma page{% endblock %}

<!-- Page content header optional description -->
{% block base_content_header_title_description %}Description de ma page{% endblock %}

<!-- Page content breadcrumb (fil d'arianne) -->
<!-- le breadcrumb peut aller jusqu'a une profondeur de 4 (previous4) -->

{% block page_header_addons %}
{% endblock %}

{% block page_footer_addons %}
    <script>
        var data = {
            labels: [{% for user in user_biere_list %}"{{ user.username }}", {% endfor %}],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0.75)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: [{% for user in user_biere_list %}{{ user.total }}, {% endfor %}]
                }
            ]
        };

        $(function(){
            var ctx = document.getElementById("myBarChart").getContext("2d");
            var myBarChart = new Chart(ctx).Bar(data);
        });

    </script>

{% endblock %}

{% block body %}
    <canvas id = 'myBarChart' width="400" height="400"></canvas>
    {{ user_biere_list }}
    {{ chouffe_list }}
    {{ bpm }}
{% endblock %}
