{% extends "spamConso/layout.html" %}
{% load staticfiles %}


<!-- page head title -->
{% block base_title %}Nouvelle Conso | {{ block.super }}{% endblock %}

<!-- Page content header title -->
{% block base_content_header_title %}Alors on est <b>gros ?</b> | {{ block.super }}{% endblock %}

{% block base_content_header_breadcrumb %}
    {% include 'LTE/breadcrumb.html' with current='Ajouter une SpamConso' prev1Name='SpamConso' prev1Url='spamConso:index' only %}
{% endblock %}

{% block body %}
	<form action="{% url 'spamConso:add_conso' %}" method="post">
		
		{{form.type.label_tag}} {{form.type}}
		{{form.description.label_tag}} {{form.description}}
		<button type="submit">Ajouter</button>
		{% csrf_token %}
	</form>
	<ol>
    {%  for conso in conso_list.reverse %}
        <!-- conso -->
		<li>
			{{conso.type}} {{conso.consommateur}} {{conso.description}} {{conso.conso_date}}
		</li>
    {% endfor %}
	</ol>
{% endblock %}
